@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z8xfyr');
  src:  url('fonts/icomoon.eot?z8xfyr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z8xfyr') format('truetype'),
    url('fonts/icomoon.woff?z8xfyr') format('woff'),
    url('fonts/icomoon.svg?z8xfyr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-proveedor:before {
  content: "\e904";
}
.icon-cliente:before {
  content: "\e900";
}
.icon-finanzas:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}
.icon-procesos:before {
  content: "\e903";
}
.icon-roles:before {
  content: "\e90c";
}
.icon-usuario:before {
  content: "\e90d";
}
